{% load static %}
{% load i18n %}
<!DOCTYPE html>

<html>
<head>
<title>Weather app</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% if user.is_authenticated and not user.is_superuser %}
<div class="navigationclass" id="navigationid">
    <a href="/" class="active">Forecast</a>
    <a href="/favorites" class="activeClass">Favorites</a>
    <a href="/profile" class="activeClass">Profile</a>
    <a href="/language" class="activeClass">Language</a>
    <a href="/faq" class="activeClass">FAQ</a>
    <a id="loginname"> Logged in as <b>{{request.user.username}}</b></a>
    <a href="/logout">Logout</a>
    <a href="/" class="menu" onclick="myFunction()">&#9776;</a>
</div>
{% else %}
<div class="navigationclass" id="navigationid">
    <a href="/" class="active">Forecast</a>
    <a href="/language">Language</a>
    <a href="/faq">FAQ</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/" class="menu" onclick="myFunction()">&#9776;</a>
</div>
{% endif %}

{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
{% endif %}
{% block content %}
{% endblock %}
</body>

</html>
