{% extends "base.html" %}
{% load static %}
<h2>Request weather</h2>

{% block content %}
<div class = "firstline">
  <div class="container">
  <h3>5 day forecast</h3>
  {% if error%}
  <p> <b>{{ error }}</b> </p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
            {{ field }}
        {% endfor %}
        <button type="submit" id="submitbutton" class="icon" name="requestweather">Search<i class="material-icons">search</i></button>
    </form>
    <div id = "details">
     <h2 id="detailstitle"></h2>
     <table>
         <tr>
           <th>Description</p></th>
           <th>Data</p></th>
         </tr>
         <tr>
           <td><p id="paragraphcloudsinfo"></td>
           <td><p id="paragraphcloudsdata"></p></td>
         </tr>
         <tr>
           <td><p id="paragraphcloudspinfo"></p></td>
           <td><p id="paragraphcloudspdata"></p></td>
         </tr>
         <tr>
           <td><p id="paragraphpressureinfo"></td>
           <td><p id="paragraphpressuredata"></p></td>
         </tr>
         <tr>
           <td><p id="paragraphhumidityinfo"></td>
           <td><p id="paragraphhumiditydata"></p></td>
         </tr>

     </table>
    </div>
    </div>

    <div class = "container2">
    {% if weather != None %}
        <h2>Weather in {{city}}, {{country}}</h2>
        {% if user.is_authenticated and not city in favoritelocations and not favoritelocations|length > 2 %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ city }}" name="city">
                <input type="hidden" value="{{ country }}" name="country">
                <button type="submit" id="addtofavoritesbutton" name="addtofavorites">Add to favorites</button>
            </form>
        {% endif %}

    {% endif %}

    {% for item in weather %}
                <div class = "dayforecast" onclick="clickFunction('{{item.0}}','{{item.4}}','{{item.5}}','{{item.6}}','{{item.7}}')">
                    <h2>{{item.0}}</h2>
                    <h3>{{item.1}}</h3>
                    <h3>{{item.2}}</h3>
                    {% if item.3 == "light rain" %}
                        <img src="{% static 'img/lightrain.svg' %}"/>
                    {% elif item.3 == "clouds" %}
                        <img src="{% static 'img/cloudy.svg' %}"/>
                    {% elif item.3 == "broken clouds" or item.3 == "few clouds" or item.3 == "scattered clouds" or item.3 == "overcast clouds"%}
                        <img src="{% static 'img/partlycloudy.svg' %}"/>
                    {% elif item.3 == "light snow" %}
                        <img src="{% static 'img/lightsnow.svg' %}"/>
                    {% elif item.3 == "clear sky" %}
                        <img src="{% static 'img/sunny.svg' %}"/>
                    {% elif item.3 == "moderate rain" %}
                        <img src="{% static 'img/heavyrain.svg' %}"/>
                    {% elif item.3 == "snow" %}
                        <img src="{% static 'img/heavysnow.svg' %}"/>
                    {% endif %}
                </div>
    {% endfor %}

    </div>
</div>
{% endblock %}
